<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<context:component-scan base-package="com.ternence.activiti" />

	<!-- 启用注解映射url和请求 ，也就是HandlerMapping和HandlerAdapter的配置 -->
	<mvc:annotation-driven />

	<!-- 静态资源访问 -->
	<!-- <mvc:default-servlet-handler /> -->
	<mvc:resources location="/WEB-RES/" mapping="/res/**" />

	<!-- 配置文件上传的解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 表单参数的默认编码，如果不配置这个就是ISO8859-1,会乱码 -->
		<property name="defaultEncoding" value="UTF-8"/>
		<!-- 一个流程定义文件(xml)，不能超过1M，大文件上传需要开线程才可以 -->
		<property name="maxUploadSize" value="1048576"/>
	</bean>
</beans>
